<table id="result" class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>N° items</td>
            <td>Phone</td>
            <td>Shipping status</td>
            <td>Shipping price</td>
            <td>Shipping payment status</td>
            <td>Payment status</td>
        </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td>{{ order.orderId }}</td>
            <td>{{ order.products|length }}</td>
            <td>{{ order.phone }}</td>
            <td>{{ order.shippingStatus }}</td>
            <td>{{ order.shippingPrice }}</td>
            <td>{{ order.shippingPaymentStatus }}</td>
            <td>{{ order.paymentStatus }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
